<head>
    <style>
      body{
        margin: 33px;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 13px;
      }
      p{
        margin: 33px;
      }
      a{
        color: #333;
      }
      a:visited {
        color: #666;
      }
    </style>
  </head>

  <body> 
    <p>
    <strong>Title:</strong><%= @book.title %>
    </p>
    <p>
    <strong>Body:</strong><%= @book.body %>
    </p>

    <%= link_to "Edit", edit_book_path(@book.id) %>
    <span>|</span>
    <%= link_to "Back", books_path %>
  </body>
</html>


